:root{
    --dark_blue:#004861;
    --light_blue:#00A3CB;
    --light_white:#f6fafd;
    --light_grey:#949191;
}
.services{
    height: 100vh;
    width: 100%;
    background-color: var(--light_white);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.servicesTitles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5em 0 0 0;
}
.servicesTitle1{
    color: var(--light_blue);
    font-size: 1.5em;
    font-weight: 500;
}
.servicesTitle2{
    color: var(--dark_blue);
    font-size: 2.7em;
    font-weight: 500;
}
.cardsContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card{
    height: 20em;
    width: 25%;
    background-color: white;
    border-radius: 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card:hover{
    background-color: var(--dark_blue);
    color: white;
    cursor: pointer;
    box-shadow: var(--dark_blue) 0px 3px 10px 0px;
}
.cardSentence1{
    font-size: 2em;
    margin: 1em 0 0.5em 0;
}
.cardSentence2{
    width: 13em;
    text-align: center;
}
/* for large screen tablets */
@media only screen and (max-width: 950px) and (min-width: 700px){
    .services{
        height: auto;
    }
    .servicesTitles{
        margin: 7em 0 0 0;
    }
    .cardsContainer{
        height: 70em;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .card{
        width: 40%;
    }
}
/* for normal screen tablets */
@media only screen and (max-width: 699px) and (min-width: 450px){
    .services{
        height: auto;
    }
    .servicesTitles{
        margin: 7em 0 0 0;
    }
    .cardsContainer{
        height: 70em;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .card{
        width: 47%;
    }
}/* for phones */
@media only screen and (max-width: 449px) and (min-width: 360px){
    .services{
        height: auto;
    }
    .servicesTitles{
        margin: 5.5em 0 0 0;
    }
    .servicesTitle2{
        font-size: 2em;
    }
    .cardsContainer{
        height: 70em;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .card{
        width: 65%;
    }
}
@media only screen and (max-width: 359px){
    .services{
        height: auto;
    }
    .servicesTitles{
        margin: 5.5em 0 0 0;
    }
    .servicesTitle2{
        font-size: 2em;
    }
    .cardsContainer{
        height: 70em;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .card{
        width: 65%;
    }
} 